{% extends "core/base.html" %}


{% block content %}

<div class="row m-3">
    <div class="card m-2">
        
        <div class="card-body m-3">
            {% include "core/components/messages.html" %}
            <form action="" method="post">
                {% csrf_token %}
                <label for="id_mail">Email </label>
                <input type="text" name="email" id="id_mail" class="form-control">
                <input type="submit" value="send password reset link" class="btn btn-primary form-control mt-1">
            </form>
        </div>
    </div>
</div>

{% endblock content %}