{% extends "core/base.html" %}


{% block content %}

<h1 class="text-center">reset your password here</h1>
<div class="row m-3">
    <div class="card p-4">
        {% include "core/components/messages.html" %}
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <label for="id_password1">New password</label>
                <input type="password" name="password1" id="id_password1" class="form-control">
                <label for="id_password2">Confirm new password</label>
                <input type="password" name="password2" id="id_password2" class="form-control">
                <input type="submit" value="change password" class="btn btn-primary form-control mt-2">
            </form>
        </div>
    </div>
</div>

{% endblock content %}